
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold;
  }
  
  
.form-container label,
.form-container input {
    display: block;
    margin-bottom: 7px;
  }

  .form-container input[type="datetime-local"] {
    margin-bottom: 20px; 
  }
header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.search-container {
  margin-top: -20px; 
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#search-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.management-buttons {
  margin-top: 30px;
  text-align: center;
}

.management-buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.form-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px; 
  border-radius: 8px; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
  width: 50%; 
  max-width: 400px; 
}

.form-popup h1 {
  text-align: center;
  font-size: 18px; 
}

.form-popup input[type="text"],
.form-popup input[type="email"],
.form-popup input[type="password"],
.form-popup input[type="date"],
.form-popup select {
  width: 100%;
  padding: 8px; 
  margin-bottom: 8px; 
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px; 
}

.button-container {
  display: flex;
  justify-content: center; 
  gap: 10px; 
}

.form-popup button {
  padding: 8px 15px; 
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.form-popup button[type="button"] {
  background-color: #6c757d; 
}

.form-popup button:hover {
  background-color: #0056b3; 
}

.form-popup button[type="button"]:hover {
  background-color: #5a6268; 
}

.meeting-list {
  margin-top: 20px;
}

.meeting-list table {
  width: 100%;
  border-collapse: collapse;
}

.meeting-list th,
.meeting-list td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 7px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
